## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

2022-10-26 15:22:11.726392: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN'],axis=1, inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
cutoff = 100
names_to_replace = application_df['NAME'].value_counts().loc[lambda x : x<cutoff].index

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 100
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().loc[lambda x : x<cutoff].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 100
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<cutoff].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
cat_list = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

application_df_converted = pd.get_dummies(application_df, prefix=cat_list)
application_df_converted.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df_converted['IS_SUCCESSFUL'].values
X = application_df_converted.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6560

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 9,021
Trainable params: 9,021
Non-trainable params: 0
_________________________________________________________________

2022-10-26 15:22:39.713946: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Create a callback that saves the model's weights every five epochs
checkpoint_path = "Results/cp-{epoch:04d}.ckpt"
batch_size = 804

cp_callback = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path,
                                                 save_weights_only=True,
                                                 verbose=1,
                                                 save_freq=5*batch_size)

nn.save_weights(checkpoint_path.format(epoch=0))

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5137 - accuracy: 0.7412
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4935 - accuracy: 0.7565
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4903 - accuracy: 0.7585
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4879 - accuracy: 0.7591
Epoch 5/100
794/804 [============================>.] - ETA: 0s - loss: 0.4869 - accuracy: 0.7602
Epoch 5: saving model to Results/cp-0005.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4870 - accuracy: 0.7598
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4849 - accuracy: 0.7606
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4845 - accuracy: 0.7587
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4837 - accuracy: 0.7610
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4827 - accuracy: 0.7609
Epoch 10/100
783/804 [============================>.] - ETA: 0s - loss: 0.4820 - accuracy: 0.7622
Epoch 10: saving model to Results/cp-0010.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4819 - accuracy: 0.7619
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4822 - accuracy: 0.7621
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4810 - accuracy: 0.7638
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4810 - accuracy: 0.7645
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4803 - accuracy: 0.7631
Epoch 15/100
796/804 [============================>.] - ETA: 0s - loss: 0.4799 - accuracy: 0.7640
Epoch 15: saving model to Results/cp-0015.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4793 - accuracy: 0.7645
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4794 - accuracy: 0.7640
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4786 - accuracy: 0.7638
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4783 - accuracy: 0.7623
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4777 - accuracy: 0.7652
Epoch 20/100
776/804 [===========================>..] - ETA: 0s - loss: 0.4779 - accuracy: 0.7657
Epoch 20: saving model to Results/cp-0020.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4781 - accuracy: 0.7657
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4774 - accuracy: 0.7643
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4768 - accuracy: 0.7651
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4762 - accuracy: 0.7650
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4761 - accuracy: 0.7644
Epoch 25/100
783/804 [============================>.] - ETA: 0s - loss: 0.4775 - accuracy: 0.7651
Epoch 25: saving model to Results/cp-0025.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4766 - accuracy: 0.7656
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4761 - accuracy: 0.7659
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4758 - accuracy: 0.7655
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4755 - accuracy: 0.7657
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4752 - accuracy: 0.7652
Epoch 30/100
771/804 [===========================>..] - ETA: 0s - loss: 0.4757 - accuracy: 0.7663
Epoch 30: saving model to Results/cp-0030.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4753 - accuracy: 0.7663
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4747 - accuracy: 0.7677
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4739 - accuracy: 0.7665
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4742 - accuracy: 0.7668
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4740 - accuracy: 0.7671
Epoch 35/100
780/804 [============================>.] - ETA: 0s - loss: 0.4745 - accuracy: 0.7652
Epoch 35: saving model to Results/cp-0035.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4742 - accuracy: 0.7653
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4736 - accuracy: 0.7681
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4736 - accuracy: 0.7666
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4734 - accuracy: 0.7671
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4730 - accuracy: 0.7676
Epoch 40/100
784/804 [============================>.] - ETA: 0s - loss: 0.4729 - accuracy: 0.7677
Epoch 40: saving model to Results/cp-0040.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4730 - accuracy: 0.7674
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4729 - accuracy: 0.7662
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4731 - accuracy: 0.7659
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4722 - accuracy: 0.7687
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4726 - accuracy: 0.7678
Epoch 45/100
776/804 [===========================>..] - ETA: 0s - loss: 0.4716 - accuracy: 0.7675
Epoch 45: saving model to Results/cp-0045.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4720 - accuracy: 0.7672
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4717 - accuracy: 0.7669
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4721 - accuracy: 0.7674
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4719 - accuracy: 0.7681
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4720 - accuracy: 0.7671
Epoch 50/100
782/804 [============================>.] - ETA: 0s - loss: 0.4713 - accuracy: 0.7685
Epoch 50: saving model to Results/cp-0050.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4712 - accuracy: 0.7683
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4713 - accuracy: 0.7674
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4718 - accuracy: 0.7678
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4707 - accuracy: 0.7689
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4711 - accuracy: 0.7683
Epoch 55/100
783/804 [============================>.] - ETA: 0s - loss: 0.4709 - accuracy: 0.7678
Epoch 55: saving model to Results/cp-0055.ckpt
804/804 [==============================] - 1s 2ms/step - loss: 0.4710 - accuracy: 0.7679
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4706 - accuracy: 0.7680
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4705 - accuracy: 0.7676
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4707 - accuracy: 0.7685
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4705 - accuracy: 0.7673
Epoch 60/100
781/804 [============================>.] - ETA: 0s - loss: 0.4704 - accuracy: 0.7686
Epoch 60: saving model to Results/cp-0060.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4707 - accuracy: 0.7684
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7690
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4704 - accuracy: 0.7676
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4699 - accuracy: 0.7692
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7694
Epoch 65/100
784/804 [============================>.] - ETA: 0s - loss: 0.4694 - accuracy: 0.7695
Epoch 65: saving model to Results/cp-0065.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7692
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4696 - accuracy: 0.7689
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7693
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4696 - accuracy: 0.7687
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4701 - accuracy: 0.7686
Epoch 70/100
775/804 [===========================>..] - ETA: 0s - loss: 0.4700 - accuracy: 0.7685
Epoch 70: saving model to Results/cp-0070.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4697 - accuracy: 0.7688
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4696 - accuracy: 0.7692
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4696 - accuracy: 0.7693
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7680
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4693 - accuracy: 0.7687
Epoch 75/100
785/804 [============================>.] - ETA: 0s - loss: 0.4693 - accuracy: 0.7670
Epoch 75: saving model to Results/cp-0075.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4689 - accuracy: 0.7675
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4693 - accuracy: 0.7684
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4692 - accuracy: 0.7689
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4691 - accuracy: 0.7694
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4695 - accuracy: 0.7687
Epoch 80/100
781/804 [============================>.] - ETA: 0s - loss: 0.4699 - accuracy: 0.7681
Epoch 80: saving model to Results/cp-0080.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4692 - accuracy: 0.7689
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4689 - accuracy: 0.7680
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4686 - accuracy: 0.7692
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4684 - accuracy: 0.7695
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4685 - accuracy: 0.7685
Epoch 85/100
782/804 [============================>.] - ETA: 0s - loss: 0.4688 - accuracy: 0.7693
Epoch 85: saving model to Results/cp-0085.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4691 - accuracy: 0.7688
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4689 - accuracy: 0.7697
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4686 - accuracy: 0.7698
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4685 - accuracy: 0.7689
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4688 - accuracy: 0.7687
Epoch 90/100
781/804 [============================>.] - ETA: 0s - loss: 0.4678 - accuracy: 0.7702
Epoch 90: saving model to Results/cp-0090.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4679 - accuracy: 0.7701
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4684 - accuracy: 0.7696
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4681 - accuracy: 0.7693
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4686 - accuracy: 0.7685
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4682 - accuracy: 0.7688
Epoch 95/100
787/804 [============================>.] - ETA: 0s - loss: 0.4677 - accuracy: 0.7684
Epoch 95: saving model to Results/cp-0095.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4682 - accuracy: 0.7680
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4683 - accuracy: 0.7700
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4675 - accuracy: 0.7701
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4679 - accuracy: 0.7690
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4679 - accuracy: 0.7700
Epoch 100/100
785/804 [============================>.] - ETA: 0s - loss: 0.4671 - accuracy: 0.7701
Epoch 100: saving model to Results/cp-0100.ckpt
804/804 [==============================] - 1s 1ms/step - loss: 0.4678 - accuracy: 0.7693

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5099 - accuracy: 0.7537 - 410ms/epoch - 2ms/step
Loss: 0.5099363327026367, Accuracy: 0.7537026405334473

In [19]:
# Export our model to HDF5 file
nn.save('Results/AlphabetSoupCharity_Optimization.h5')